@using eDoc.Data.Models
@model ICollection<AmbulatoryList>

    <h1>Издадени амбулаторни листове</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Пациент</th>
                <th scope="col">Доктор</th>
                <th scope="col">Издаден на</th>
                <th scope="col">Терапия</th>
                <th scope="col">Обективно състояние</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model)
            {
            <tr>
                <td>@list.Id</td>
                <td>@list.Patient.FullName</td>
                <td>@list.Doctor.FullName</td>
                <td>@list.CreatedOn</td>
                <td>@list.Therapy</td>
                <td>@list.ObjectiveCondition</td>
                <td>
                    <a class="btn btn-primary" type="button" asp-controller="Patient" asp-action="AmbulatoryListDetails" asp-route-id="@list.Id">Детайли</a>
                </td>
            </tr>
            }
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        <span class="text-danger">Не са открити издадени амбулаторни листове.</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>