@model List<eDoc.Data.Models.ApplicationUser>

<div class="card-columns">
    @foreach (var patient in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Профилна снимка">
            <div class="card-body">
                <h5 class="card-title">Име: @patient.FullName</h5>
                <p class="card-text">Град: @patient.Address.City</p>
                <p class="card-text">Телефон: @patient.PhoneNumber</p>
                <p class="card-text">Е-мейл: @patient.Email</p>
            </div>
            <div class="card-body">
                <a class="card-link text-danger" asp-controller="Doctor" asp-action="RemovePatient" asp-route-Id="@patient.Id">Отпиши !</a>
            </div>
        </div>
    }
    @if (Model.Count == 0)
    {
        <center>
            <h2>Не са открити пациенти.</h2>
        </center>
    }
</div>