@model eDoc.Models.View.Patient.AmbulatoryListDetailsViewModel

<h1>Амбулаторен лист</h1>
<div class="container-fluid">
        <div class="card">
            <!--Top container for patient & doctor details -->
            <div class="card-header">
                <div class="form-row">
                    <!-- Patient details-->
                    <div class="col">
                        <h5 class="card-title">
                            <strong>Пациент: @Model.PatientFullName</strong>
                        </h5>
                        <h6>
                            <strong>ЕГН: @Model.PatientPIN</strong>
                        </h6>
                        <small class="text-muted">Дата на раждане: @Model.PatientDateOfBirth</small><br />
                        <small class="text-muted">Адрес: @Model.PatientAddress</small><br />
                        <small class="text-muted">Код държава: @Model.PatientCountryCode</small><br />
                    </div>
                    <!-- Doctor details-->
                    <div class="col">
                        <h5 class="card-title">
                            <strong>Лекар:</strong><br />
                            @Model.DoctorFullName<br />
                            <small class="text-muted">Код специалност: @Model.DoctorSpecialtyCode</small>
                        </h5>
                        <h6>
                            <strong>УИН:</strong> @Model.DoctorUIN<br />
                            <strong>НЗОК №: </strong> @Model.NZOKNumber
                        </h6>
                        <div class="form-row align-content-center">
                            @Model.SubstituteType.ToString()
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ambulatory list №, create date & time -->
            <div class="card-body">
                <div class="form-row text-center">
                    <div class="col-4">
                        <h6>АМБУЛАТОРЕН ЛИСТ № @Model.Id</h6>
                    </div>
                    <div class="col-4">
                        <h6>дата: @Model.CreatedOn.ToShortDateString()</h6>
                    </div>
                    <div class="col-4">
                        <h6>час: @Model.CreatedOn.ToShortTimeString()</h6>
                    </div>
                </div>
            </div>
            <!-- Main content of the Ambulatory list-->
            <div class="card-footer">
                <div class="form-row text-center">
                    <!-- Left hand-side of the form-->
                    <div class="col">
                        <!-- Reason for the visit selection -->
                        <div class="input-group mb-3">
                            @Model.VisitReason.ToString()
                        </div>
                        <!-- Type of check-up selection -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="checkupType">Вид преглед: @Model.TypeOfCheckup.ToString()</label>
                            </div>
                        </div>
                    </div>
                    <!-- Right hand-side of the form-->
                    <div class="col">
                        <div class="input-group row m-0">
                           @Model.MedicalHistory
                        </div>
                        <div class="input-group">
                          @Model.ObjectiveCondition
                        </div>
                        <div class="input-group">
                           @Model.Examinations
                        </div>
                        <div class="input-group">
                            @Model.Therapy
                        </div>
                        <div class="input-group">
                           @Model.Diagnosis
                        </div>
                        <div class="input-group">
                           @Model.AccompanyingConditions
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

