@model List<eDoc.Models.View.AmbulatoryListViewModel>

    <h1>Амбулаторни листове</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Пациент</th>
                <th scope="col">Доктор</th>
                <th scope="col">Издаден на</th>
                <th scope="col">Вид преглед</th>
                <th scope="col">Диагноза</th>
                <th scope="col">Заболяване</th>
                <th scope="col">Терапия</th>
                <th scope="col">Детайли</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model)
            {
                <tr>
                    <td>@list.Id</td>
                    <td>@list.PatientFullName</td>
                    <td>@list.DoctorFullName</td>
                    <td>@list.IssueDate</td>
                    <td>@list.CheckUpType</td>
                    <td>@list.Diagnosis</td>
                    <td>@list.Diseases</td>
                    <td>@list.Therapy</td>
                    <td><a class="btn btn-primary" type="button" asp-controller="Patient" asp-action="AmbulatoryListDetails" asp-route-id="@list.Id">Детайли</a></td>
                </tr>
            }
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        <span class="text-danger">Не са открити издадени амбулаторни листове.</span>
                    </td>
                </tr>
            }

        </tbody>
    </table>
