@model List<eDoc.Models.RecipeListViewModel>

    <h1>Рецепти</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Пациент</th>
                <th scope="col">Доктор</th>
                <th scope="col">Издадена на</th>
                <th scope="col">Изпълнена</th>
                <th scope="col">За многократно изпълнение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model)
            {
            <tr>
                <td>@recipe.Number</td>
                <td>@recipe.PatientFullName</td>
                <td>@recipe.DoctorFullName</td>
                <td>@recipe.IssueDate</td>
                <td>@recipe.Completed</td>
                <td>@recipe.AllowMultiCompletion</td>
                <td>
                    <a class="btn btn-primary" type="button" asp-controller="Patient" asp-action="RecipeDetails" asp-route-id="@recipe.Number">Детайли</a>
                </td>
            </tr>
            }
        </tbody>
    </table>