@model List<eDoc.Models.RecipeListViewModel>
<body>
    <h1>Рецепти</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Пациент</th>
                <th scope="col">Доктор</th>
                <th scope="col">Издадена на</th>
                <th scope="col">Изпълнена</th>
                <th scope="col">За многократно изпълнение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model)
            {
            <tr>
                <td>@recipe.Number</td>
                <td>@recipe.PatientFullName</td>
                <td>@recipe.DoctorFullName</td>
                <td>@recipe.IssueDate</td>
                <td>@recipe.Completed</td>
                <td>@recipe.AllowMultiCompletion</td>
            </tr>
            }
            
        </tbody>
    </table>
</body>