@page
@model LoginModel

@{
    ViewData["Title"] = "Вход - еДок";
}

@section Header {
    <link rel="stylesheet" href="~/css/login.css" />
}
<section>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Вход в системата:</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row clearfix">
                <div>
                    <form id="account" method="post">

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fas fa-at"></i></span>
                            <input type="email" asp-for="Input.Email" placeholder="Електронна поща" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fas fa-lock"></i></span>
                            <input type="password" asp-for="Input.Password" placeholder="Парола" />
                        </div>
                        <div class="input_field checkbox_option">
                            <input asp-for="Input.RememberMe" type="checkbox" id="cb1">
                            <label for="cb1">Запомни ме</label>
                        </div>

                        <input class="button" type="submit" value="Login" />
                        <div class="form-group">
                            <p>
                                <a class="text-light" id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                            </p>
                            <p>
                                <a class="text-light" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <center>
        <h4>Вход чрез:</h4>
        <hr class="bg-light" width="25%" />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        Услугите за достъп с Microsoft и Google са в профилактика. Извинете ни за причиненото неудобство.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button class="btn-exService" name="provider" value="@provider.Name" title="Влез със своя @provider.DisplayName профил."><i></i> @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </center>
</section>

@section Scripts {
    <script>
        //Script provides a dynamic icon setup for external provides links.
        jQuery(document).ready(function ($) {
            $('button.btn-exService').each(function () {
                var value = $(this).val();
                if (value == "Microsoft") {
                    $(this).prop("class", "btn-exService fab fa-windows");
                } else if (value == "Google") {
                    $(this).prop("class", "btn-exService fab fa-google");
                } else if (value == "LinkedIn") {
                    $(this).prop("class", "btn-exService fab fa-linkedin-in");
                } else {
                    $(this).prop("class", "btn-exService fas fa-external-link-alt");
                }
            });
        });
    </script>
}
