@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Вход в системата:</h2>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row clearfix">
                <div>
                    <form id="account" method="post">

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fa fa-user"></i></span>
                            <input type="email" asp-for="Input.Email" placeholder="Електронна поща" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fa fa-user"></i></span>
                            <input type="password" asp-for="Input.Password" placeholder="Парола" />
                        </div>
                        <div class="input_field checkbox_option">
                            <input asp-for="Input.RememberMe" type="checkbox" id="cb1">
                            <label for="cb1">Запомни ме</label>
                        </div>

                        <input class="button" type="submit" value="Login" />
                        <div class="form-group">
                            <p>
                                <a class="text-light" id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                            </p>
                            <p>
                                <a class="text-light" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h4>Use another service to log in.</h4>
    <hr class="bg-light" />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a class="text-dark" href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Влез със своя @provider.DisplayName профил.">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
