@using eDoc.Models.View
@model RecipeDetailsViewModel

<div class="container-fluid">
    <h1>еДок - Рецепта</h1>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">
                        <strong>Издадена от:</strong> Д-р @Model.DoctorFullName
                    </h5>
                    <h6>
                        <strong>УИН:</strong> @Model.DoctorUIN
                    </h6>
                    <small class="text-muted">Медицински център: @Model.MedCenterName</small><br />
                    <small class="text-muted">Адрес: @Model.MedCenterAddress</small>
                </div>
                <div class="col-6">
                    <h5 class="card-title">
                        <strong>Пациент: </strong>@Model.PatientFullName
                    </h5>
                    <h6>
                        <strong>ЕГН: </strong>@Model.PatientPIN
                    </h6>
                    <small class="text-muted">Адрес: @Model.PatientAddress</small><br />

                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Предписание:</h5>
                </div>
                <div class="col-3">
                    <small class="text-muted"><strong>Издадена на: </strong>@Model.RecipeCreationDate</small><br />
                    <small class="text-muted"><strong>За многократно изпълнение:</strong> @Model.AllowMultiCompletion</small>
                </div>
                <div class="col-3">
                    <small class="text-muted"><strong>Изпълнена:</strong> @Model.RecipeCompleted</small> <br />
                    <a class="btn btn-outline-primary" type="button" asp-controller="Pharmacist" asp-action="Complete" asp-route-id="@Model.RecipeId">Изпълни</a>
                </div>
                <div class="col-12">
                    <p>
                        @Model.RecipeDescription
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    
